html {
        background-image: linear-gradient(#04152f, #d1d1d1);    
}

body {
    
    font-family: 'High Tower Text', sans-serif;
    color: #04152f;
    font-size: 2.0rem;

}
.ultop{
    padding-top: 20px;
}
.post{
    float: left;
}
.container {
    
    width:80%;
    min-height: 300px;
    margin-left: 10%;
    margin-right:10%;
}

header {
    display :flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eae5e6;
     
}
header h {
    font-family: 'High Tower Text', sans-serif;
    font-size: 3.3rem;
    color:#eae5e6;
    font-weight: bold; 
    font-style: italic;
}
.navbutton {
    
    border: 1px solid #eae5e6;
    padding: 11px 25px;
    font-family:  'Playfair Display', serif;
    display: inline-block;
    position:relative;
    
}
a {
    color:#eae5e6;
    text-decoration:none;
    font-size: 1em;
}

h1{
    font-weight: lighter;
    font-size: 33px;
    color: #04152f;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 0;
}

.data img{
   width: 800px;
   height: 400px;
   display: block;
   margin-left: auto;
   margin-right: auto;
    padding-top: 2%;

 
}
.address{

    margin-left:25%;
}
.sm{
    margin-left: 30px;
}
p{color: #04152f;
     font-family: 'High Tower Text', sans-serif;
    font-size: 1.2rem;}
.media{
    list-style: none;
    display: inline-block;
    font-size: 45px;
    padding: 20px 20px;
    background-color: #04152f;
    
}

footer{
 
     color: #04152f;
     font-family: 'High Tower Text', sans-serif;
    font-size: 23px;
    margin-top: 10vh;
    
}
